<dialog th:fragment="addModal" id="addModal" class="modal">
    <div class="modal-box w-[700px]">
        <form th:action="@{|/category/create|}" class="flex flex-col justify-center w-[85%] h-[85%] gap-3" method="post">
            <input type="text" name="name" class="input input-bordered input-primary w-full max-w-xs" placeholder="What's the Title">
            <input type="text" name="content" class="input input-bordered input-primary w-full max-w-xs" placeholder="What's the Content">
            <input type="text" name="imgUrl" class="input input-bordered input-primary w-full max-w-xs" placeholder="Img Url">
            <input type="submit" value="add category" class="btn btn-success">
        </form>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

