<dialog th:fragment="addModal" id="addModal" class="modal">
    <div class="modal-box w-[700px] items-center flex flex-col">
        <form th:action="@{|/category/create|}" class="h-[85%]" method="post">
            <input type="text" name="name" class="input input-bordered input-primary w-[100%]" placeholder="What's the Title">
            <input type="text" name="imgUrl" class="input input-bordered input-primary w-[100%]" placeholder="Image Url">
            <button type="submit" class="btn btn-success w-[100%]">
                <i class="fa-solid fa-plus"></i>add category
            </button>
        </form>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">
                    <i class="fa-solid fa-xmark"></i>Close
                </button>
            </form>
        </div>
    </div>
</dialog>

<dialog th:fragment="updateModal" th:attr="id=${'updateModal' + category.id}" class="modal">
    <div class="modal-box w-[700px] items-center flex flex-col">
        <form th:action="@{|/category/${category.id}/update|}" class="h-[85%]" method="post">
            <input type="text" name="name" class="input input-bordered input-primary w-[100%]" th:value="${category.name}">
            <input type="text" name="imgUrl" class="input input-bordered input-primary w-[100%]" th:value="${category.imgUrl}">
            <button type="submit" class="btn btn-info w-[100%]">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>edit & sumbit</span>
            </button>
        </form>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn">
                    <i class="fa-solid fa-xmark"></i>Close
                </button>
            </form>
        </div>
    </div>
</dialog>

