<!DOCTYPE html>
<html lang="ko" data-theme="dark" class="bg-gray-600">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>PROJECT</title>
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af71419a16.js" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="~{fragments/navbar::navFragment}"></nav>
<th:block layout:fragment="content"></th:block>
</body>
</html>
