<html layout:decorate="~{layout}"
      th:with="categoryList=${listDataDto.categoryList},
         targetCategory=${listDataDto.targetCategory},
         articleList=${listDataDto.articleList},
         targetArticle=${listDataDto.targetArticle},
         searchedArticleList=${listDataDto.searchedArticleList},
         member=${listDataDto.member},
         keyword=${paramHandler.keyword},
         isSearchModal=${paramHandler.isSearchModal},
         type=${paramHandler.type}">
<div layout:fragment="content">

    <input type="hidden" name="isSearchModal" id="isSearchModal" th:value="${isSearchModal}">

    <dialog th:replace="~{fragments/modal::searchModal}"></dialog>

    <div class="flex h-screen">
        <div class="card bg-base-100 shadow-xl h-full w-[20%] flex flex-col gap-3">
            <h2 class="card-title p-10px justify-center" th:text="${targetCategory.name}"></h2>
            <div class="card-body overflow-auto flex-grow">
                <ul class="menu"
                    th:with="itemAnchor='inline-block w-[100%]'">
                    <li th:each="article : ${articleList}"
                        th:classappend="${article.id == targetArticle.id} ? 'bg-gray-600' : ''">
                        <div class="flex items-center">
                            <a class="getActionBtn text-lg"
                               th:classappend="${itemAnchor}"
                               th:data-url="@{|/category/${targetCategory.id}/articles/${article.id}|}">
                                <i class="fa-regular fa-note-sticky"></i>
                                <span th:text="${article.title}"></span>
                                <span class="text-xs text-gray-500 flex">
                                    <i class="fa-regular fa-calendar mr-2"></i>
                                    <p th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></p>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-actions justify-center items-center">
                <form th:action="@{|/category/${targetCategory.id}/articles/create|}" method="post">
                    <button type="submit" class="btn btn-success w-full mb-[60px] postActionBtn">
                        <i class="fa-solid fa-plus"></i>add
                    </button>
                </form>
            </div>
        </div>
        <div class="card bg-transparent shadow-xl w-[80%] h-full">
            <div class="card-body">
                <form th:action="@{|/category/${targetCategory.id}/articles/${targetArticle.id}/update|}" id="updateForm" method="post">
                    <input type="text" name="title" class="w-full input input-bordered text-center gap-3" th:value="${targetArticle.title}">
                    <input type="hidden" name="content" th:value="${targetArticle.content}" id="editor-body">
                    <div id="editor" class="w-full"></div>
                </form>
                <div class="flex w-full mx-auto justify-center gap-5">
                    <button class="btn btn-info w-[300px] postActionBtn" type="button" onclick="updateForm()">
                        <i class="fa-solid fa-pen-to-square"></i>edit
                    </button>
                    <form th:action="@{|/category/${targetCategory.id}/articles/${targetArticle.id}/delete|}" method="post" id="deleteFrom">
                        <button class="btn btn-error w-[300px] postActionBtn" type="button" onclick="deleteForm()">
                            <i class="fa-solid fa-trash"></i>delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="params">
        <input type="hidden" name="keyword" th:value="${keyword}">
        <input type="hidden" name="type" th:value="${type}">
    </div>
    <div>
        <input type="hidden" id="isSearchModal" name="isSearchModal" th:value="${isSearchModal}">
    </div>
    <script src="/dist/bundle.js"></script>
    <script>
        function deleteForm() {
            const form = document.getElementById("deleteFrom");
            if(confirm("삭제하시겠습니까?")){
                form.submit();
            }
        }
    </script>
    <script th:replace="~{fragments/modal::searchModalJS}"></script>
    <script src="/main.js"></script>
</div>
</html>
