<html layout:decorate="~{layout}">
<div layout:fragment="content"
     th:with="categoryList=${listDataDto.categoryList},
               targetCategory=${listDataDto.targetCategory},
               articleList=${listDataDto.articleList},
               targetArticle=${listDataDto.targetArticle},
               searchedArticleList=${listDataDto.searchedArticleList},
               keyword=${paramHandler.keyword},
               isSearchModal=${paramHandler.isSearchModal},
               type=${paramHandler.type}">

    <div class="flex flex-col gap-3">

        <dialog th:replace="~{fragments/modal::addModal}"></dialog>
        <dialog th:replace="~{fragments/modal::searchModal}"></dialog>

        <div class="flex flex-wrap justify-center gap-3 my-auto mx-auto h-[90%]">
            <div th:each="category : ${categoryList}" class="h-[440px] card w-96 bg-base-100 shadow-xl">
                <figure class="h-[50%]">
                    <img th:src="${category.imgUrl}" alt="Image" class="h-full w-full object-cover"/>
                </figure>
                <div class="card-body h-[50%]">
                    <h2 class="card-title" th:text="${category.name}"></h2>
                    <span th:text="${#temporals.format(category.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                    <div class="card-actions justify-center">
                        <a th:data-url="@{|/category/${category.id}/articles/list|}"
                           class="btn btn-primary w-full getActionBtn">
                            <i class="fa-solid fa-list-ul"></i>list
                            <div class="badge badge-secondary" th:text="${#lists.size(category.articleList)}"></div>
                        </a>
                    </div>
                    <div class="flex gap-3">
                        <dialog th:replace="~{fragments/modal::updateModal}"></dialog>
                        <div>
                            <button class="btn btn-info btn-xs" th:attr="onclick='document.getElementById(\'updateModal' + ${category.id} + '\').showModal()'">
                                <i class="fa-solid fa-pen-to-square"></i>edit
                            </button>
                        </div>
                        <form th:action="@{|/category/${category.id}/delete|}" method="post">
                            <button type="submit" class="btn btn-xs btn-error postActionBtn">
                                <i class="fa-solid fa-trash"></i>delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-[10%]">
            <div class="flex flex-col justify-end items-center">
                <button class="btn btn-success w-96" onclick="addModal.showModal()">
                    <i class="fa-solid fa-plus"></i>add
                </button>
            </div>
        </div>
    </div>
    <div id="params">
        <input type="hidden" name="keyword" th:value="${keyword}">
        <input type="hidden" name="type" th:value="${type}">
    </div>
    <div>
        <input type="hidden" id="isSearchModal" name="isSearchModal" th:value="${isSearchModal}">
    </div>

    <script src="/main.js"></script>
    <script th:replace="~{fragments/modal::searchModalJS}"></script>
</div>
</html>
